footer .container-footer {
    background-color: #212529;
    color: #fff;
}

footer .container-footer .text-muted {
    text-align: center;
    padding: 16px !important;
    font-size: 14px !important;
}