
.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    background-color: #f6f8fa;
    color: #f6f8fa;
}

@media only screen and (max-width: 900px) {
    .grid-container {
        grid-template-columns: auto;
    }
}

.grid-item {
    border: 10px solid #f6f8fa;
    font-size: 30px;
    text-align: center;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-item div {
    background: rgba(0, 0, 0, 0.3);
    padding: 20px;
    height: 660px;
}

.grid-item small {
    font-size: 14px !important;
}